[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
requests-oauthlib = "*"
pyjwt = "*"
cryptography = "*"
pillow = "*"
django-allauth = "*"
google-generativeai = "*"

[dev-packages]

[requires]
python_version = "3.13"
